{
  "extends": [
    "stylelint-config-standard",
    "@logux/stylelint-config"
  ],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "font-family-name-quotes": "always-unless-keyword"
  }
}